* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus.button:focus {
    outline: 0;
}

body {
    font-family: 'Uni Sans Heavy', Arial, Helvetica, sans-serif;
    background-color: 	#1e2124;
}

h1 {
    font-size: 23px;
    padding: 10px 20px;
    color: #7289da;
    background: 		#282b30;
    font-family: "Uni Sans Heavy", Arial, Helvetica, sans-serif;
}

#app {
    max-width: 1800px;
    margin: 30px auto;
    border: 1px solid #1e2124;
    border-radius: 5px;
}

#window {
    height: 600px;
    max-height: 600px;
    overflow-y: auto;
    background-color: 	#36393e;
}

#output p{
    font-size: 15px;
    padding: 12px;
    color: rgb(189, 189, 189);
}

#output p:nth-child(even){
    background-color: #36393e;
    color: white;
}

#output p:hover{
    background-color: #303236;
}

#feedback p{
    font-size: 15px;
    padding: 12px;
}

#output strong{
    color: 	white;
}

input {
    font-family: 'Uni Sans Heavy', Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    border: 0;
    border-top: 1px solid #36393e;
    background-color: 	#424549;
    display: block;
    width: 100%;
    font-size: 15px;
}

button {
    font-family: 'Uni Sans Heavy', Arial, Helvetica, sans-serif;
    background-color: 	#36393e;
    color: white;
    border: 0;
    border: 0 0 5px 5px;
    width: 100%;
    padding: 12px 0px;
    font-size: 17px;
}

#text_color {
    color:#7289da;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    margin-block: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #2e3338;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3f4347; 
    border-radius: 10px;
  }


br {
    visibility: hidden;
    -webkit-user-select: none;
}

#sender, #message {
    color: white;
}

.date_left_name {
    color: #a3aeb9;
    -webkit-user-select: none;
}

.date_left_name:hover {
    color: #daebfd;
}

.avatar_image {
    position: relative;
    border-radius: 50%;
    top: 30px;
}

.in_message {
    position:relative;
    left: 51px;
}